In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import files

uploaded = files.upload()

Saving sensor_tweaked.csv to sensor_tweaked.csv

In [ ]:
import io

data = pd.read_csv(io.BytesIO(uploaded['sensor_tweaked.csv']))
data

,sensor_00,sensor_13,sensor_18,sensor_34,sensor_35,sensor_48,sensor_49,sensor_50,sensor_51,machine_status
0,2.465394,1.681353,2.565284,171.9375,341.9039,157.9861,67.70834,243.0556,201.3889,NORMAL
1,2.465394,1.681353,2.565284,171.9375,341.9039,157.9861,67.70834,243.0556,201.3889,NORMAL
2,2.444734,1.708474,2.500062,169.9820,343.1955,155.9606,67.12963,241.3194,203.7037,NORMAL
3,2.460474,1.579427,2.509521,166.4987,343.9586,155.9606,66.84028,240.4514,203.1250,NORMAL
4,2.445718,1.683831,2.604785,164.7498,339.9630,158.2755,66.55093,242.1875,201.3889,NORMAL
...,...,...,...,...,...,...,...,...,...,...
220315,2.407350,13.265320,2.499117,266.0334,578.5221,212.3843,153.64580,NaN,231.1921,NORMAL
220316,2.400463,13.242270,2.618476,262.2222,568.1035,213.8310,156.25000,NaN,231.1921,NORMAL
220317,2.396528,13.188660,2.620500,260.8372,553.8872,217.3032,155.38190,NaN,232.0602,NORMAL
220318,2.406366,13.173460,2.514596,261.3184,559.4439,222.5116,153.93520,NaN,234.0856,NORMAL
220319,2.396528,13.125930,2.487299,258.4387,558.0558,227.4306,150.46300,NaN,234.0856,NORMAL

In [ ]:
data.interpolate(inplace=True)

In [ ]:
data.isnull().values.any()

False

In [ ]:
m = {'NORMAL': 'Normal', 'RECOVERING': 'Leak', 'BROKEN': 'Leak'}
data['pump_status'] = data['machine_status'].map(m)
data['pump_status']

0         Normal
1         Normal
2         Normal
3         Normal
4         Normal
           ...
220315    Normal
220316    Normal
220317    Normal
220318    Normal
220319    Normal
Name: pump_status, Length: 220320, dtype: object

In [ ]:
pd.concat([data, data['pump_status']])

,sensor_00,sensor_13,sensor_18,sensor_34,sensor_35,sensor_48,sensor_49,sensor_50,sensor_51,machine_status,pump_status,0
0,2.465394,1.681353,2.565284,171.9375,341.9039,157.9861,67.70834,243.0556,201.3889,NORMAL,Normal,NaN
1,2.465394,1.681353,2.565284,171.9375,341.9039,157.9861,67.70834,243.0556,201.3889,NORMAL,Normal,NaN
2,2.444734,1.708474,2.500062,169.9820,343.1955,155.9606,67.12963,241.3194,203.7037,NORMAL,Normal,NaN
3,2.460474,1.579427,2.509521,166.4987,343.9586,155.9606,66.84028,240.4514,203.1250,NORMAL,Normal,NaN
4,2.445718,1.683831,2.604785,164.7498,339.9630,158.2755,66.55093,242.1875,201.3889,NORMAL,Normal,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
220315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Normal
220316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Normal
220317,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Normal
220318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Normal
220319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Normal

In [ ]:
data

,sensor_00,sensor_13,sensor_18,sensor_34,sensor_35,sensor_48,sensor_49,sensor_50,sensor_51,machine_status,pump_status
0,2.465394,1.681353,2.565284,171.9375,341.9039,157.9861,67.70834,243.0556,201.3889,NORMAL,Normal
1,2.465394,1.681353,2.565284,171.9375,341.9039,157.9861,67.70834,243.0556,201.3889,NORMAL,Normal
2,2.444734,1.708474,2.500062,169.9820,343.1955,155.9606,67.12963,241.3194,203.7037,NORMAL,Normal
3,2.460474,1.579427,2.509521,166.4987,343.9586,155.9606,66.84028,240.4514,203.1250,NORMAL,Normal
4,2.445718,1.683831,2.604785,164.7498,339.9630,158.2755,66.55093,242.1875,201.3889,NORMAL,Normal
...,...,...,...,...,...,...,...,...,...,...,...
220315,2.407350,13.265320,2.499117,266.0334,578.5221,212.3843,153.64580,1000.0000,231.1921,NORMAL,Normal
220316,2.400463,13.242270,2.618476,262.2222,568.1035,213.8310,156.25000,1000.0000,231.1921,NORMAL,Normal
220317,2.396528,13.188660,2.620500,260.8372,553.8872,217.3032,155.38190,1000.0000,232.0602,NORMAL,Normal
220318,2.406366,13.173460,2.514596,261.3184,559.4439,222.5116,153.93520,1000.0000,234.0856,NORMAL,Normal
220319,2.396528,13.125930,2.487299,258.4387,558.0558,227.4306,150.46300,1000.0000,234.0856,NORMAL,Normal

In [ ]:
data.drop('machine_status', axis=1, inplace=True)

In [ ]:
data

,sensor_00,sensor_13,sensor_18,sensor_34,sensor_35,sensor_48,sensor_49,sensor_50,sensor_51,pump_status
0,2.465394,1.681353,2.565284,171.9375,341.9039,157.9861,67.70834,243.0556,201.3889,Normal
1,2.465394,1.681353,2.565284,171.9375,341.9039,157.9861,67.70834,243.0556,201.3889,Normal
2,2.444734,1.708474,2.500062,169.9820,343.1955,155.9606,67.12963,241.3194,203.7037,Normal
3,2.460474,1.579427,2.509521,166.4987,343.9586,155.9606,66.84028,240.4514,203.1250,Normal
4,2.445718,1.683831,2.604785,164.7498,339.9630,158.2755,66.55093,242.1875,201.3889,Normal
...,...,...,...,...,...,...,...,...,...,...
220315,2.407350,13.265320,2.499117,266.0334,578.5221,212.3843,153.64580,1000.0000,231.1921,Normal
220316,2.400463,13.242270,2.618476,262.2222,568.1035,213.8310,156.25000,1000.0000,231.1921,Normal
220317,2.396528,13.188660,2.620500,260.8372,553.8872,217.3032,155.38190,1000.0000,232.0602,Normal
220318,2.406366,13.173460,2.514596,261.3184,559.4439,222.5116,153.93520,1000.0000,234.0856,Normal
220319,2.396528,13.125930,2.487299,258.4387,558.0558,227.4306,150.46300,1000.0000,234.0856,Normal

In [ ]:
data.sample(frac=1, random_state=42)

,sensor_00,sensor_13,sensor_18,sensor_34,sensor_35,sensor_48,sensor_49,sensor_50,sensor_51,pump_status
108145,2.499826,2.188541,2.598168,320.1235,469.9010,81.01852,49.768520,185.474500,189.5255,Normal
185819,2.503762,14.407210,2.603111,242.5766,608.3739,190.10420,49.768520,1000.000000,183.4491,Normal
150648,2.510648,17.749490,2.574863,368.0821,549.9135,184.89580,51.215280,1000.000000,202.8356,Normal
216878,2.404398,13.057080,2.464594,222.9529,502.7404,426.50460,63.657410,1000.000000,195.6019,Normal
199813,2.400463,22.202180,2.547501,193.0003,508.5333,192.70830,77.256940,1000.000000,283.2755,Normal
...,...,...,...,...,...,...,...,...,...,...
119879,2.510648,0.823710,2.524223,314.3795,460.1342,62.78935,45.428242,156.828700,1000.0000,Normal
103694,2.459491,0.650733,2.429865,334.4460,481.9268,95.48611,52.372680,190.682900,197.9167,Normal
131932,0.058163,0.000000,2.649260,368.9770,527.7963,31.82870,31.828703,32.407406,1000.0000,Leak
146867,2.503762,1.931578,2.581561,357.7942,519.3430,144.96530,82.465280,1000.000000,268.2292,Normal
121958,2.021701,0.481964,2.249803,256.6783,500.9055,98.95834,48.032410,138.888900,1000.0000,Normal

In [ ]:
x = data.iloc[:,:-1].values
y = data.iloc[:,-1]

In [ ]:
x = (x - np.min(x)) / (np.max(x) - np.min(x))
x

array([[0.00246539, 0.00168135, 0.00256528, ..., 0.06770834, 0.2430556 ,
        0.2013889 ],
       [0.00246539, 0.00168135, 0.00256528, ..., 0.06770834, 0.2430556 ,
        0.2013889 ],
       [0.00244473, 0.00170847, 0.00250006, ..., 0.06712963, 0.2413194 ,
        0.2037037 ],
       ...,
       [0.00239653, 0.01318866, 0.0026205 , ..., 0.1553819 , 1.        ,
        0.2320602 ],
       [0.00240637, 0.01317346, 0.0025146 , ..., 0.1539352 , 1.        ,
        0.2340856 ],
       [0.00239653, 0.01312593, 0.0024873 , ..., 0.150463  , 1.        ,
        0.2340856 ]])

In [ ]:
from sklearn.preprocessing import LabelEncoder
lab = LabelEncoder()
y = lab.fit_transform(y)
y

array([1, 1, 1, ..., 1, 1, 1])

In [ ]:
from sklearn.model_selection import LeaveOneOut
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

In [ ]:
# Create loocv procedure
cv = LeaveOneOut()

In [ ]:
# Create model
model = RandomForestClassifier(random_state=42)

In [ ]:
# Evaluate model
scores = cross_val_score(model, x, y, scoring='accuracy', cv=cv, n_jobs=-1)

In [ ]:
# report performance
print('Accuracy: %.3f (%.3f)' % (mean(scores)), std(scores))